@charset "UTF-8";
.reservation-list, .reservation-form {
    width: 500px;
    margin: 40px auto;
    background: #fffaf0;
    padding: 20px;
    border-radius: 8px;
}


/* 예약 */
.reservation-list table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.reservation-list th, .reservation-list td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.reservation-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.btn-primary {
    background: #6b4226;
    color: #fff;
}

.btn-primary:hover {
    background: #8d5b3c;
}

.btn-secondary {
    background: #ddd;
    color: #333;
}

.btn-secondary:hover {
    background: #bbb;
}
